button {
    border-radius: 20px;
    color: #fff;
    background-color: #0066ff;


}
button:hover {
    background-color: #003399;
}

div {
    background-color:#66ccff;
    display: flex;
    justify-content: center;
    flex-direction: column;

}